<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>This is the configuration file for Hightail.</comment>
<entry key="workingDirectory">/home/tommydong/online-judge/contest/CF_1110</entry>
<entry key="putWholeName">0</entry>
<entry key="userInformedOfCompetitiveCompanionAndFirewall">1</entry>
<entry key="checkExistence">1</entry>
<entry key="prependingCommand"></entry>
<entry key="pathFromWorkingDirToExec">p%P</entry>
</properties>
